{% if form.errors %}
<div class="error-messages">
    {% for field in form %}
        {% if field.errors %}
            <div class="error">
                <strong>{{ field.label }}</strong>
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
        <div class="error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endif %}