{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Downward - A Digital Descent Journal{% endblock %}</title>
    <meta name="description" content="A private, guided space for exploring emotional descents and personal reflections.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://kit.fontawesome.com/5125eaa352.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation -->
     <header class="main-header">
        <nav class="main-navigation">
            <div class="logo">
                <a href="{% url 'home' %}">Downward</a>
            </div>
            <ul class="nav-links">
                {% if user.is_athenticated %}
                    <li><a href="#">New Descent</a></li>
                    <li><a href="#">My Journeys</a></li>
                    <li><a href="#">Logout</a></li>
                {% else %}
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                {% endif %}
            </ul>
        </nav>
     </header>

     <!-- Main Content Area -->

     <main class="site-content">
        {% block content %}
        {% endblock %}
     </main>

     <!--Footer-->
     <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; {% now "Y" %} Downward. A space for descent.</p>
            <nav class="footer-links">
                <a href="#">About</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </nav>
        </div>
     </footer>

     <!-- Javascript -->
      <script src="{% static '/js/main.js' %}" ></script>
    
</body>
</html>